In [1]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\python311\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\python311\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: pandas>=1.2 in c:\python311\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\dell\appdata\roaming\python\python311\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dell\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\python311\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

WARNING: Ignoring invalid distribution ~ (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~~p (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~~p (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~~p (C:\Python311\Lib\site-packages)

In [2]:
pip install seaborn

Requirement already satisfied: seaborn in c:\python311\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\python311\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: pandas>=1.2 in c:\python311\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\dell\appdata\roaming\python\python311\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dell\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\python311\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~ (c:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (c:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~~p (c:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ (c:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (c:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~~p (c:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ (c:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (c:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~~p (c:\Python311\Lib\site-packages)

In [3]:
import pandas as pd
import seaborn as sns

In [4]:
titanic = pd.read_csv("C:\\Users\\Dell\\Desktop\\IntroducaoML\\datasets\\titanic.csv")

ParserError: Error tokenizing data. C error: Expected 16 fields in line 59, saw 17

In [23]:
titanic.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

#Quantas pessoas sobreviveram e quantas morreram

In [24]:
titanic.survived.value_counts()

AttributeError: 'DataFrame' object has no attribute 'survived'

#Quantas pessoas embarcaram em cada cidade

In [25]:
titanic.embark_town.value_counts()

AttributeError: 'DataFrame' object has no attribute 'embark_town'

#Overview geral dos dados, como tipos dos dados

In [ ]:
titanic.info()

#Combinações de todas as colunas e linhas

In [ ]:
titanic.describe()

#Ver valores faltantes(nulos)

In [26]:
titanic.isnull()

      year  month  passengers
0    False  False       False
1    False  False       False
2    False  False       False
3    False  False       False
4    False  False       False
..     ...    ...         ...
139  False  False       False
140  False  False       False
141  False  False       False
142  False  False       False
143  False  False       False

[144 rows x 3 columns]

#Para ver qualquer valor nulo em qualquer coluna, ele vai mostrar onde está esse valor nulo

In [ ]:
titanic.isnull().any()

#Mapa de calor das colunas

In [27]:
sns.heatmap(titanic.isnull())

NameError: name 'sns' is not defined

In [28]:
titanic.columns

Index(['year', 'month', 'passengers'], dtype='object')

In [29]:
colunas_numericas = ['age', 'fare', 'pclass', 'survived']

#Para verificar a correlação entre as colunas numéricas

#Quanto mais próximo do 0 menor a correlação, quanto mais próxima do 1, maior a correlação
#É uma outra forma que pode ser mostrada também pelo mapa de calor

In [ ]:
titanic[colunas_numericas].corr()