#Valores numéricos são mais amigáveis e fáceis do computador trabalhar, por isso, transformamos dados classificatórios em dados numéricos.

In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv("C:\\Users\\Dell\\Desktop\\IntroducaoML\\datasets\\titanic.csv")

ParserError: Error tokenizing data. C error: Expected 16 fields in line 59, saw 17

In [ ]:
titanic.head()

In [ ]:
titanic.sex

#Alterando valores classificatórios em numérico

#a coluna "sex" que era "man" ou "female" passou a ser 0 ou 1

In [ ]:
pd.get_dummies(titanic.sex)

#Guardar na variável para alterar a coluna de classificatória para numérica no dataset

In [ ]:
sex = pd.get_dummies(titanic.sex)

#Alterando no dataset

#Criano no dataset uma coluna, "female" que receberá 0 para não e 1 para sim

In [ ]:
titanic = ['female'] = sex

In [ ]:
titanic.head()

#Retirando do dataset a coluna sex

In [ ]:
titanic.drop(['sex'], axis=1, inplace=True)

In [ ]:
titanic.head()

#Quando achamos que duas colunas podem conter a mesma informação, como "Who" e "Female", podemos pesquisar e comparar as colunas, por exemplo:

#Buscar por linha em que a coluna "who" e "female"são diferentes. Pois se elas forem sempre iguais, não há a necessidade de manter as duas.

In [ ]:
titanic.loc[(titanic.female == 0) & (titanic.who == 'woman') | (titanic.female == 1) & (titanic.who == 'man' )] 
#female == false e who == true

In [ ]:
titanic.loc[(titanic.survive == 0) & (titanic.alive == 'yes') | (titanic.survice == 1) & (titanic.alive == 'no' )]

#Ao perceber que há redundância, retirar as colunas redundantes

In [ ]:
titanic.drop(['who', 'alive'], axis=1, inplace=True)

In [ ]:
titanic.head()

#No caso de três colunas que podem ter valores 0 e 1, sendo 0=sim e 1=não, e somente uma das colunas pode ter valor sim, não é necessário ter a última coluna, já que sabendo a resposta das 2 primeiras colunas, a última não precisamos manter, pois se as primeiras porem 0, logo a última é 1 e vice-versa

In [ ]:
pd.get_dummies(titanic.embark_town)

#Percebendo que não é necessário manter uma das colunas, retira

In [ ]:
pd.get_dummies(titanic.embark_town).drop(['Cherbourg'], axis=1)

#Adiciona a alteração ao dataset

In [ ]:
titanic['Queenstown', 'Southampton'] = pd.get_dummies(titanic.embark_town).drop(['Cherbourg'], axis=1)